<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- set magewire to block -->
    <type name="Magewirephp\Magewire\Observer\Frontend\ViewBlockAbstractToHtmlBefore">
        <plugin name="MVenghaus_MagewirePluginWidgetResolver_Plugin_Magewirephp_Magewire_Observer_Frontend_ViewBlockAbstractToHtmlBeforePlugin"
                type="MVenghaus\MagewirePluginWidgetResolver\Plugin\Magewirephp\Magewire\Observer\Frontend\ViewBlockAbstractToHtmlBeforePlugin"
        />
    </type>

    <!-- add widget resolver -->
    <type name="Magewirephp\Magewire\Model\ComponentResolver">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="widget" xsi:type="object">
                    MVenghaus\MagewirePluginWidgetResolver\Model\Component\Resolver\WidgetResolver
                </item>
            </argument>
        </arguments>
    </type>
</config>